<h1>Listing report_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @report_items.each do |report_item| %>
  <tr>
    <td><%= report_item.title %></td>
    <td><%= report_item.user_id %></td>
    <td><%= link_to 'Show', report_item %></td>
    <td><%= link_to 'Edit', edit_report_item_path(report_item) %></td>
    <td><%= link_to 'Destroy', report_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report item', new_report_item_path %>
