<%= simple_form_for(@report, :wrapper => :stacked) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title%>
    <%= f.input :notes, :input_html => {:class=>'xxlarge'} %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
