<%= simple_form_for(@report, :wrapper => :stacked) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title, :input_html => {:value => "#{@group.name + '`s' if @group} report for the week of #{DateTime.now.beginning_of_week.inspect}"} %>
    <%= f.input :notes, :input_html => {:class=>'xxlarge'} %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
